<h1><%= link_to "About Dancing Cities", :root, style:"color: #38302F"%></h1>
<div class = "messages about">
  <h5 style="text-align: center">Dancing Cities is a virtual representation of New  York City that 'moves' to music. The city is dynamically generated using NYC data in the following ways:</h5>
  <ul>
    <li>&bull; The buildings you see in DancingCities are placed onto the scene using latitude and longitude data of popular NYC spots by making a request to the Foursquare API. If the user is located in NYC, the buildings are generated dynamically based on the users' location and surrounding area.</li>
    <li>&bull; Each frame, you can see the buildings change height cooresponding to the music track that is playing. The song is streamed using the SoundCloud API and the track is converted to listenable data using the WebAudio API. Many changing elements within the city are timed to correspond with points in the song.</li>
    <li>&bull; The sky is generated based on the local time of day and current weather in New York City, using the Yahoo Weather API.</li>
    <li>Users can leave messages on the vitual 'Graffiti Wall'. These messages are all added by users and persist on the wall.</li>
    <li>&bull; When the page loads, it uses the Twitter API to gather tweets that contain the hashtag #dancingcities as well as the most recent tweets from within New York City. Look up in the sky to read the tweets.</li>
    <li>&bull; Users that log in through Twitter enjoy personalized features including messages in the sky addressing them, and their profile picture in a spinning circle in-game.</li>
    <li>&bull; Look for the many spinning spheres among the buildings, they change when you move close to them and contain different cartoons and maps of NYC.</li>
  </ul>
  <div style="text-align:center"><%= link_to "Dancing Cities", :root%> was built by Morgan Neiman & Jaclyn Jimenez.</div>
</div>
