<div class = 'index-bg'>
  <h1><%= link_to "Dancing Cities", :root, style:"color: #FFE8EE; font-size: 1.5em"%></h1>
  <div class = "messages about">
    <h5 style="text-align: center">Welcome to Dancing Cities, a virtual city that 'moves' to music. The city is generated dynamically using NYC data including the current weather, latitude and longitude points that represent locations within the city, and recent tweets sent from NYC.<br><br>

  This game runs best on Google Chrome. It requires a good processor and graphics card, and quite some bandwidth. To enhance your experience, please close other tabs and programs.</h5>
    <br>
    <div style="text-align:center"><h5 style="font-size: 2em"><%= link_to "Click to play Dancing Cities", "/game" %></h5><br>
      <%= link_to "More about Dancing Cities", "/about" %></div>
  </div>
</div>
