<!DOCTYPE html>
<html>
<head>
  <title>DancingCityApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
  <script src="helper_libraries/detector.js"></script>
  <script src="helper_libraries/fullscreen.js"></script>
  <script src="helper_libraries/helvetiker_regular.typeface.js"></script>
  <script src="helper_libraries/keyboardstate.js"></script>
  <script src="helper_libraries/orbitcontrols.js"></script>
  <script src="helper_libraries/pointerlockcontrols2.js"></script>
  <script src="helper_libraries/shaderparticles.min.js"></script>
  <script src="helper_libraries/stats.min.js"></script>
  <script src="helper_libraries/windowresize.js"></script>


  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>
  <script src="main.js"></script>

</body>
</html>
